#title {
	text-align: center;
	font-size: 3em;
	margin: 2%;
	margin-top: 5px;
}

#control-panel {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	width: 25%;
	display: flex;
	justify-content: space-between;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

button{
  background:#ffbf00;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#fff;
  color:#a67c00;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ffbf00;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

#clock {
	font-size: 1.5em;
    position: fixed;
    z-index: 1;
    top: 6%;
    left: 2%;
    overflow-x: hidden;
}

#station-area {
	width: 80%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: solid;
	display: flex;
	flex-direction: row;
}

#wait-area {
	width: 80%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: solid;
	border-top: none;
	display: flex;
	flex-direction: row;
}

.station {
	border: solid;
	width: 20%;
}

.server-area {
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.station-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
	border-bottom: solid;
	font-size: 2em;
}

.wait-section {
	width: 20%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: solid;
	border-top: none;
	border-bottom-width: 6px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.server {

}

.customer-count {
	font-size: 1em;
	margin: 10px;
}

.customer {
	text-align: center;
}